<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table style="width: 100%;" cellspacing="0">
            <tr style="background-color: rgb(66, 101, 165);width: 250px;height: 100px;">
                <td align="center" style="float: left;">
                    <img src="/static/images/fblogo.jpg" width="250px" height="100px">
                </td>
                <td align="center">
                    <form>
                        <input type="text">&nbsp;&nbsp;
                        <input type="text">&nbsp;&nbsp;
                        <input type="submit" value="login">
                    </form>
                </td>
            </tr>
        </table>
    </div>

        

    <div style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <table style="width: 80%;" align="center">
                <tr><td align="center" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                    <h1 style="font-family: sans-serif;">Connect with friends and the world around you on Facebook</h1>
                </td></tr><br /><br />
                <tr>
                    <td align="center"><br /><br /><img src="/static/images/phtots_icon.png" width="50px" height="50px">&nbsp;&nbsp;&nbsp;&nbsp;See pjotos and updates from friends in New feeds</td>
                </tr>
                <tr>
                    <td align="center"><img src="/static/images/share_timeline.png" width="50px" height="50px">&nbsp;&nbsp;&nbsp;&nbsp;Share what's new in your life on your Timeline.</td>
                </tr>
                <tr>
                    <td align="center"><img src="/static/images/graph_triangle.png" width="70px" height="50px">&nbsp;&nbsp;&nbsp;&nbsp;Find more of what you're looking for with Graph Search</td>
                </tr>
            </table>
    </div>

    
    <div>
        <table align="center" align="center"><br /><br /><br /><br /><br />
            <tr><td align="center">
                   <h3>SIGNUP</h3>
            </td></tr>
            <tr><td>
                <form>
                    <table>
                        <tr><td><br /><br />
                            <input type="text" name="First" placeholder="First">&nbsp;&nbsp;
                            <input type="text" name="last" placeholder="Last">
                        </td></tr>
                        <tr><td><br />
                            <input type="number" placeholder="Phone number" size="48" min="0">
                        </td></tr>
                        <tr><td><br />
                            <input type="email" placeholder="Email" size="48px" >
                        </td></tr>
                        <tr><td><br />
                            <input type="password" placeholder="password" size="48px" >
                        </td></tr>
                    </table>
                </form>
            </td></tr>
            <tr><td>
                <h5> By clicking signup, you agree to our terms and that you have read our data use policy, including our cookies use</h5>
            </td></tr>
            <tr><td><img src="/static/images/sign.jpg" width="150px" height="50px"></td></tr>
            </table>
        </div>




    
</body>
</html>